!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Default React Rails
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'vendor-bundle', 'data-turbolinks-track': true, defer: true

    = javascript_pack_tag 'vendor-bundle', 'data-turbolinks-track': true, defer: true
    = javascript_pack_tag 'app-bundle', 'data-turbolinks-track': true, defer: true

  %body
    = react_component('NavBarApp')
    .container
      = yield

    = redux_store_hydration_data
